@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    #logs {
        max-height: 700px;
        overflow: auto;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome 123</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="logs"></div>

<script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/hubs").build();
    connection.on("ReceiveMessage", function (msg) {
        $("#logs").append("<p>" + msg + "</p>");
    });
    connection.start().then(function () { console.log("sc"); }, function (e) { console.log(e); });
</script>